@model WebApplication2.Models.Custi

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custome</title>
</head>
<body>
    <div>
        Customer Name :- @Model.CustomerName <br /> 
        Customer Code :- @Model.CustomerCode
    </div>
</body>
</html>
